<div class="product">
    <div class="product-image">
        <img src="{{item?.image_src}}" alt="product image">
    </div>
    <div class="product-details">
        <b class="product-title">{{item?.vendor}}</b>
        <p class="product-description">{{item?.name}}</p>
        <div class="product-price">
            <b> {{item?.price}}</b>
            <s class="dim_text"> ${{item?.compare_at_price}} </s>
            <span style="color: #ffb5b5"> (15% off) </span>
        </div>
    </div>
    <div class="product-quantity input-group">
        <span class="input-group-text" id="basic-addon1"> Qty:</span>
        <input class="form-control" type="number" value="{{item?.qty}}" min="1">
    </div>
    <div class="product-removal">
        <button class="remove-product"> Remove </button>
    </div>
    <div class="product-line-price">{{item?.price}}</div>
</div>

