/* @import "compass/css3"; */

/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-quantity { float: left; width: 13%; }
.product-removal { float: left; width: 15%; }
.product-line-price { float: left; width: 15%; text-align: left; }

/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}

/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  // font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

label {
  color: #aaa;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding: 10px;
  height: 32vh;
  border: 1px solid #eee;
  border-radius: 4px;
}
.product-image {
  text-align: center;
}
.product-image img {
  width: 100px;
}
  
.product-details .product-title{
    margin-right: 20px;
    // font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
.product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
    // font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}

.input-group-text{
  padding: 7px;
}
  
.product-quantity input{
    width: 35px;
}

.product-removal{
  padding-left: 5%;
}
  
.remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
  font-size: 12px;
  border-radius: 3px;
}

.remove-product:hover {
  background-color: #a44;
}



/* .checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
} */

/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  
  .column-labels {
    display: none;
  }
  
  .product-image {
    float: right;
    width: auto;
    img {
      margin: 0 0 10px 10px;
    }
  }
  
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .product-price {
    clear: both;
    width: 70px;
  }
  
  .product-quantity {
    width: 100px;
    input {
      margin-left: 20px;
    }
  }
  
  .product-quantity:before {
    content: 'x';
  }
  
  .product-removal {
    width: auto;
  }
  
  .product-line-price {
    float: right;
    width: 70px;
  }
  
}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  
  .product-removal {
    float: right;
  }
  
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  
  .product .product-line-price:before {
    content: 'Item Total: $';
  }
  
  .totals {
    .totals-item {
      label {
        width: 60%;
      }
      
      .totals-value {
        width: 40%;
      }
    }
  }
}