/* Totals section */
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}   
.totals .totals-item label {
  float: left;
  clear: both;
  width: 85%;
  padding-right: 5%;
}

.totals .totals-item .totals-value {
  float: right;
  width: 15%;
}

.totals .totals-item-total {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';
}
@media screen and (max-width: 650px) {
  
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }
}
  