<mat-toolbar color="primary" class="app-header">
  <button mat-icon-button class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <img id='company_logo' routerLink="/" src="../../assets/shopmate-logo.png" alt="ShopMate Logo" class="logo" />

  <span mat-button class="brand-title" routerLink="/">ShopMate</span>

  <span class="spacer"></span>

  <button mat-button routerLink="/">Home</button>
  <button mat-button>Shop</button>
  <button mat-button>Deals</button>
  <button mat-button routerLink="/cart">
    <div matBadge="" matBadgeOverlap="false"  class="demo-section">Cart</div>
  </button>

  <button mat-button routerLink="/profile" aria-label="User account">
    <!-- <mat-icon>account_circle</mat-icon> -->Account
  </button>
</mat-toolbar>