@use '@angular/material' as mat;

// 1. Define your color palette
// $primary-color: mat.define-palette(mat.$indigo-palette, 600);
// $accent-color: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// $warn-color: mat.define-palette(mat.$red-palette);

// 👇 Define your own font
// $my-font-family: 'Poppins', sans-serif;

// 👇 Custom typography configuration
// $my-typography: (
//   headline-1: (font-size: 32px, font-weight: 600),
//   headline-2: (font-size: 28px, font-weight: 600),
//   subtitle-1: (font-size: 18px, font-weight: 500),
//   body-1:     (font-size: 16px, font-weight: 400),
//   button:     (font-size: 14px, font-weight: 600, text-transform: none),
//   font-family: $my-font-family
// );
// @include mat.typography-hierarchy($my-typography);

// 2. Define your theme
// $custom-theme: mat.define-light-theme((
//   color: (
//     primary: $primary-color,
//     accent: $accent-color,
//     warn: $warn-color
//   ),
// //   typography: mat.define-typography-config(),
//   typography: $my-typography,
//   density: 0
// ));

@include mat.core();

// Define a dark theme
$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    primary: mat.$violet-palette
  ),
  typography: (
    brand-family: 'Poppins',
    bold-weight: 900
  )
));

// Define a light theme
$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$violet-palette
  ),
  typography: (
    brand-family: 'Poppins',
    bold-weight: 900
  ),
));

html {
  // Apply the dark theme by default
  @include mat.core-theme($light-theme);
  @include mat.button-theme($dark-theme);

  // Apply the light theme only when the user prefers light themes.
  @media (prefers-color-scheme: light) {
    // Use the `-color` mixins to only apply color styles without reapplying the same
    // typography and density styles.
    @include mat.core-color($light-theme);
    @include mat.button-color($light-theme);
  }
}

// 3. Include theme styles
// @include mat.all-component-themes($custom-theme);
